@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;

    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
         url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  }

@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;

    src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
         url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
  }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;

    src: url("../fonts/Roboto/Roboto-Black.woff2") format("woff2"),
         url("../fonts/Roboto/Roboto-Black.woff") format("woff");
  }