.input {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 10rem;
    margin: 1rem auto;
    z-index: 100;

    &__field {
        background-color: transparent;
        color: $color-white;
        padding: 2px 1rem;
        border: none;
        border-bottom: 1px solid;
        font-size: 1rem;
        width: inherit;

        &:focus, &:focus-visible {
            outline: none;
        }
        
    }
}

.autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 1px solid;
    background-color: $color-black;
    border-top-width: 0;
    list-style: none;
    max-height: 20rem;
    overflow-y: auto;

    &__option {
        cursor: pointer;
        padding: 0.5rem;
        font-weight: normal;
        height: 2rem;
        transition: all 0.2s ease;
        box-sizing: border-box;

        @each $color in $btnColors {
            &_color_#{$color}{
                color: $color; 
            }
        }

        &:hover {
            background-color: $color-green;
            color: $color-white;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid $color-white;
        }

        &_type_active {
            font-weight: 900;
        }
    }
}
