$btn-colors: (
    "magenta": magenta,
    "green": LimeGreen,
    "orange": OrangeRed,
    "blue": #26D9FD
);

$color-black: #111111;
$color-green: #118c4e;
$color-white: #f4f4f4;

@mixin hover-desktop() {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

